[submodule "vim/pack/plugins/start/vim-surround"]
	path = vim/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/pack/plugins/start/ctrlpvim"]
	path = vim/pack/plugins/start/ctrlpvim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/pack/plugins/start/todo.txt"]
	path = vim/pack/plugins/start/todo.txt
	url = https://github.com/dbeniamine/todo.txt-vim.git
[submodule "vim/pack/plugins/start/restor_view.vim"]
	path = vim/pack/plugins/start/restor_view.vim
	url = https://github.com/vim-scripts/restore_view.vim.git
[submodule "vim/pack/plugins/start/ack.vim"]
	path = vim/pack/plugins/start/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/pack/plugins/start/vim-airline"]
	path = vim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/pack/plugins/start/tomasiser-vim-code-dark"]
	path = vim/pack/plugins/start/tomasiser-vim-code-dark
	url = https://github.com/tomasiser/vim-code-dark.git
