[submodule "vim/pack/plugins/start/vim-surround"]
	path = vim/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/pack/plugins/start/nerdtree"]
	path = vim/pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/pack/plugins/start/ctrlpvim"]
	path = vim/pack/plugins/start/ctrlpvim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/pack/plugins/start/vim-javacomplete2"]
	path = vim/pack/plugins/start/vim-javacomplete2
	url = https://github.com/artur-shaik/vim-javacomplete2.git
[submodule "vim/pack/plugins/start/todo.txt"]
	path = vim/pack/plugins/start/todo.txt
	url = https://github.com/dbeniamine/todo.txt-vim.git
[submodule "vim/pack/plugins/start/restor_view.vim"]
	path = vim/pack/plugins/start/restor_view.vim
	url = https://github.com/vim-scripts/restore_view.vim.git
[submodule "vim/pack/plugins/start/ack.vim"]
	path = vim/pack/plugins/start/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/pack/plugins/start/sheerun-vim-polyglot"]
	path = vim/pack/plugins/start/sheerun-vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "vim/pack/plugins/start/vim-airline"]
	path = vim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/pack/plugins/start/tpope-vim-fugitive"]
	path = vim/pack/plugins/start/tpope-vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
